*{
    border: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}

body{
   background: rgb(197, 197, 197);
    height: 100%;
}

.container-principal{
    width: 100%;
}


h3, h4{
    padding: 10px;
    text-align: justify;
}


p{
    padding: 10px;
    text-align: justify;
}

li{
    text-align: justify;
    padding: 0px 20px 0px 0px;
}

/* Cabeçalho da página | Logo */


.cabecalho{
    width: 100%;

}

.cabecalho .container-menu{
    text-align: center;
    width: 100%;
}


.container-logo{
    background: #fff;
    width: 100%;
    
}

.logo img{
    width: 200px;
    padding: 20px;
   
}
/* Barra de Menu */

.container-menu{
    background: #191970;
    padding: 20px 0px 20px 0px;
    
}

.container-menu ul{
    list-style: none;
    
}

.container-menu li{
    display: inline;
    padding: 0px 50px;
    
}

.container-menu a{
    border: 1px solid #DAE3F3;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 5px;
}

.container-menu a:hover{
    background: #DAE3F3;
    padding: 10px 10px;
    color: #191970;
    transition: 0.50s;
}

/* ----------- CSS para corpo do site----------- */

.corpo-pagina{
    width: 90%;
    margin: 20px auto;
    margin-bottom: 20px;
    
}

.corpo-projeto{
    background: #fff;
    width: 70%;
    float: left;
    border-bottom: 10px solid rgb(197, 197, 197);
}

.img-corpo{
    float: left;
    width: 30%;
}

.texto-corpo{
    width: 40%;
    float: right;
}

#img-corpo{
    width: 500px;
    margin: 10px;
    border: 2px solid #191970;
}

.corpo-lateral{
    background: #fff;
    width: 28%;
    float: right;
}


table{
    text-align: center;
    margin: 20px;
    font-size: 14px;
    background:#DAE3F3;
    border: 1px solid black;
}


td{
    border: 1px solid #fff;
}

.corpo-lateral h3{
    background: #DAE3F3;
}


/* CSS do rodapé da página*/



footer{
   clear: both; 
   display: flex; 
   width: 90%;
   margin: 20px auto;
   background: ;
   justify-content: center;
   background:#DAE3F3;
   padding: 20px 0px;
   
}



#icones{
   width:  30px;
   
}

.rodape ul{
    list-style: none;
}

.rodape li{
    display: inline;
    padding: 10px;
   
}

/* Formatação de tags de texto*/
   


